@import "./src/styles/mixins";

.wrapper {
  position: relative;
  width: 320px;
  height: 50px;
  z-index: 10;

  margin-left: 108px;

}

.search {
  width: 320px;
  height: 50px;

  padding-left: 51px;

  border: none;
  border-radius: 10px;

}

.search::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.searchIcon {
  position: absolute;
  transform: translate(-50%, -50%);

  left: 25px;
  top: 50%;
}

.searchList {
  padding: 8px 0 8px 0;
  list-style: none;

  width: 320px;

}

.searchLink {
  @include font(16px, 24px, #979797);
  padding: 6px 0 6px 24px;
  display: inline-block;
  width: 320px;

  text-decoration: none;
}

.searchLink:hover {
  background: #2D303880;
  color: #FFFFFF;

  border-radius: 10px;
  box-sizing: border-box;
}

.dropdown {
  width: 320px;
  position: absolute;
  top: 54px;
  z-index: 8;

  transition-duration: 0.3s;

  background-color: #FFFFFF;
  border: solid 1px black;
  border-radius: 10px
}