@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInReverse {
  from {
    opacity: 1;
    transform: translateX(100%);
  }

  to {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(180deg);
    opacity: 1;
  }
  to {
    transform: rotate(0deg);
    opacity: 0.5;
  }
}
