@mixin font($font-size, $font-height, $color) {
  font-size: $font-size;
  line-height: $font-height;
  color: $color;
}

@mixin flex($flex-direction, $aling-content, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  align-content: $aling-content;
  justify-content: $justify-content;
  align-items: $align-items;
}
