$background-color: #1B1D22;
$gradient-color: #2D3038;
$white: #FFFFFF;
$black: #000000;
$grey: #979797;

$hover-gradient: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, $gradient-color 100%);
$content-gradient: linear-gradient(124.01deg, $gradient-color 0%, rgba(45, 48, 56, 0) 100%);

$media-small: 600px;
$media-medium: 800px;
$media-big: 1080px;