.header {
    display: flex;

    padding: 40px 0 0 40px;
    @media screen and (max-width: 375px){
        flex-direction: column;

        padding: 20px 0 0 20px;
    }
}

.logo {
    width: 212px;
    height: 42px;
    @media screen and (max-width: 375px) {
        width: 151px;
        height: 30px;
    }
}

.wrapper {
    @media screen and (max-width: 375px) {
        display: flex;
        justify-content: space-between;
    }
}


