@import "../../styles/variables";

.header {
    display: flex;
    padding: 40px 0 0 40px;
    @media screen and (max-width: $media-big) {
        padding-right: 44px;
    }
    @media screen and (max-width: $media-medium){
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
}

.logo {
    width: 212px;
    height: 42px;

    @media screen and (max-width: $media-medium) {
        width: 151px;
        height: 30px;
    }
}

.wrapper {
    @media screen and (max-width: $media-medium) {
        display: flex;
        justify-content: space-between;
    }
}


