@import "./src/styles/mixins";
@import "./src/styles/keyframes";
@import "../../styles/variables";

.menu {
  width: 310px;
  justify-content: left;
  margin-top: 32px;

  @media screen and (max-width: $media-big) {
    width: 220px;
  }

  @media screen and (max-width: $media-medium) {
    display: none;
  }
}

.mobileMenu {
  position: absolute;
  top: 80px;
  left: 0;
  background: $background-color;
  width: 100vw;
  height: calc(100vh - 10%);
  z-index: 100;
}

.title {
  margin-bottom: 11px !important;
  text-align: left;
  padding-left: 40px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  color: $grey;

  @media screen and (max-width: $media-medium) {
    padding-left: 20px;
  }
}

.list {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 275px);

  @media screen and (max-width: $media-medium) {
    padding-left: 20px;
  }
}

.link {
  @include font(16px, 24px, $grey);
  padding: 3px 0 3px 0;
  display: inline-block;
  width: 269px;

  text-decoration: none;
  @media screen and (max-width: $media-medium) {
    width: 335px;
  }

}

.activeLink {
  @include font(16px, 24px, $grey);
  padding: 3px 0 3px 0;
  display: inline-block;
  width: 269px;
  text-decoration: none;
  background: $hover-gradient;
  color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;

  @media screen and (max-width: $media-medium) {
    width: 335px;
  }
}

.listItems {
  padding: 4px 0 4px 0;
  list-style: none;
  text-align: left;
  width: 269px;
}

.link:hover {
  background: $hover-gradient;
  color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
}

.burger {
  display: none;

  @media screen and (max-width: $media-medium) {
    display: inline;
    position: absolute;
    top: 23px;
    right: 0;
    margin-right: 14px;
    background: none;
    border: none;
  }
}
