@import "./src/styles/mixins";
@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  width: 1036px;
  height: 851px;

  background: $content-gradient;
  border-radius: 30px;

  align-items: flex-start;

  @media screen and (max-width: $media-width) {
    max-width: 335px;
    max-height: 633px;
    margin-top: 30px;
    margin-bottom: 26px;

    border-radius: 20px;
    height: calc(100% - 122px);
  }
}

.content {
  margin-left: 51px;
  @media screen and (max-width: $media-width) {
    margin-left: 0;
  }
}

.name {
  @include font(64px, 74px, $white);

  margin-top: 29px !important;
  @media screen and (max-width: $media-width) {
    @include font(28px, 38px, $white);
    margin-top: 0!important;
    margin-left: 4px!important;

  }
}

.email {
  margin: 0 !important;

  @include font(16px, 24px, $grey);

  @media screen and (max-width: $media-width) {
    @include font(16px, 24px, $grey);
    margin-left: 4px!important;
  }
}

.inputTitle {
  @include font(16px, 24px, $grey);
  margin-top: 30px;
  margin-bottom: 10px;

  text-transform: uppercase;
  @media screen and (max-width: $grey) {
    margin-left: 4px!important;
  }

}


.input {
  @include font(16px, 24px, #000000);

  width: 300px;
  height: 50px;

  padding-left: 20px;

  border: none;
  border-radius: 10px;

  margin-bottom: 30px;

  @media screen and (max-width: 375px) {
    width: 305-20px;
    height: 38px;
    margin-bottom: 0;
  }

}

.requiredBlock {
  @media screen and (max-width: 375px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.required {
  @include font(34px, 44px, #979797);
  margin: 0 !important;
  @media screen and (max-width: 375px) {
    @include font(18px, 20px, #979797);
    margin-top: 50px!important;
  }
}

.bays {
  @include font(56px, 66px, #FFFFFF);
  margin: 0 !important;

  @media screen and (max-width: 375px) {
    margin-top: 10px!important;
    margin-right: 8px!important;
    @include font(34px, 44px, #FFFFFF);
  }

}