@import "./src/styles/mixins";
@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 1036px;
  height: 851px;
  background: $content-gradient;
  border-radius: 30px;
  align-items: flex-start;



  @media screen and (max-width: $media-medium) {
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 420px;
    max-height: 633px;
    margin-top: 30px;
    margin-bottom: 26px;
    border-radius: 20px;
    height: calc(100% - 122px);
    box-sizing: border-box;
  }
  @media screen and (max-height: 530px){
    height: auto;
  }
}

.content {
  margin-left: 51px;

  @media screen and (max-width: $media-big) {
    margin-left: 0;
    padding: 51px;
    box-sizing: border-box;
  }

  @media screen and (max-width: $media-medium) {
    margin-left: 0;
    padding: 0 5px;
  }
}

.name {
  @include font(64px, 74px, $white);
  margin-top: 29px !important;

  @media screen and (max-width: $media-big) {
    margin-top: 0 !important;
  }

  @media screen and (max-width: $media-medium) {
    @include font(28px, 38px, $white);
    margin-top: 0 !important;
    margin-left: 4px !important;

  }
}

.email {
  margin: 0 !important;
  @include font(16px, 24px, $grey);

  @media screen and (max-width: $media-medium) {
    @include font(16px, 24px, $grey);
    margin-left: 4px !important;
  }
}

.inputTitle {
  @include font(16px, 24px, $grey);
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 4px;
  text-transform: uppercase;

  @media screen and (max-width: $grey) {
    margin-left: 4px !important;
  }
}


.input {
  @include font(16px, 24px, $black);
  width: 300px;
  height: 50px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;

  @media screen and (max-width: $media-medium) {
    max-width: 285px;
    width: 100%;
    height: 38px;
    margin-bottom: 0;
  }
}

.requiredBlock {
  @media screen and (max-width: $media-medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.required {
  @include font(34px, 44px, $grey);
  margin: 0 !important;

  @media screen and (max-width: $media-medium) {
    @include font(18px, 20px, $grey);
    margin-top: 50px !important;
    padding-left: 30px;
  }
}

.bays {
  @include font(56px, 66px, $white);
  margin: 0 !important;

  @media screen and (max-width: $media-medium) {
    margin-top: 10px !important;
    margin-right: 8px !important;
    @include font(34px, 44px, $white);
  }

}