@import "./styles/variables";



.App {
  @media screen and (max-width: $media-medium) {
    height: 100vh;
  }
  @media screen and (max-height: 530px){
    height: auto;
  }
}

.content {
  display: flex;

  @media screen and (max-width: $media-medium) {
    display: block;
  }
  @media screen and (max-width: 600px) {
    padding: 0 15px;
    box-sizing: border-box;
  }

  @media screen and (max-height: 530px){
    height: auto;

  }

  article {
    position: relative;
    margin-left: 50px;
    margin-bottom: 51px;
    width: 100%;
    height: calc(100vh - 175px);
    margin-right: 44px;

    @media screen and (max-width: $media-medium) {
      width: 100%;
      padding: 20px 15px 0 15px;
      margin-left: 20px;
      margin-bottom: 29px !important;
      height: 75vh;
    }
    @media screen and (max-height: 530px){
      height: auto;
      padding-bottom: 20px;
    }
  }
}

h2 {
  margin: 0 !important;
}

h4 {
  margin: 0 !important;
}
